---
layout: single
title: NERVE Lab
permalink: /
header:
    overlay_image: /assets/images/uvm.jpg
author_profile: false
---


<div>
    <h2>About the lab</h2>
</div>
<div>
  <p>The NERVE Lab at the University of Vermont is interested in the relationships between brain development and behavior.
  </p>
  <!-- <p>Much of our work uses data from Adolescent Brain Cognitive Development (<a href="https://abcdstudy.org/">ABCD Study</a>),
    <a href="https://imagen-project.org/">IMAGEN Study</a>, and <a href="https://www.enigmaaddictionconsortium.com/"> ENIGMA-Addiction working group</a>
    data to study brain development at unprecedented scales.
  </p> -->

  <p>
    We use data from
  </p>
<div style="display: flex; gap: 1rem; align-items: center;">
  <img src="/assets/images/abcd.png" alt="ABCD Study" style="height: 80px; width: auto;">
  <img src="/assets/images/hbcd.png" alt="HBCD Study" style="height: 80px; width: auto;">
  <img src="/assets/images/imagen.png" alt="IMAGEN research project" style="height: 80px; width: auto;">
  <img src="/assets/images/enigma_addiction.png" alt="ENIGMA-Addiction working group" style="height: 80px; width: auto;">
</div>

  <p>
    <br>
  to study development at unprecedented scales.
</p>
  <!-- <p>
    The NERVE Lab is led by <a href="https://www.uvm.edu/cas/psychology/profiles/hugh-garavan">Hugh Garavan</a>
    and <a href="https://www.uvm.edu/cas/psychology/profiles/alexandra-potter-behavior-therapy-and-psychotherapy">Alexi Potter</a>.
  </p> -->
</div>



<!-- <div>
    <h2>Lab News</h2>
    <ul>
      {% for event in site.data.events %}
      <li>
        {% if event.date%}
          <b>{{event.date}} - </b>
        {% endif %}
        {{event.description}}
      </li>
      {% endfor %}
    </ul>
    </div> -->