---
layout: single
title: NERVE Lab
permalink: /
header:
    overlay_image: /assets/images/uvm.jpg
author_profile: true
---


<div>
    <h2>About the lab</h2>
</div>
<div>
  <p>The NERVE Lab at the University of Vermont is interested in cognitive development, particularly as it relates to
    substance use and risk-taking behaviors. 
  </p>
  <p>Much of our work levereges Adolescent Brain Cognitive Development (<a href="https://abcdstudy.org/">ABCD Study</a>),
    <a href="https://imagen-project.org/">IMAGEN Study</a>, and <a href="https://www.enigma-brain.org/main/index.html%3Fp=1611.html"> ENIGMA-Addiction working group</a>
    data to study brain development at unprecedented scales.
  </p>
  <p>
    The NERVE Lab is led by <a href="https://www.uvm.edu/cas/psychology/profiles/hugh-garavan">Hugh Garavan</a>
    and <a href="https://www.uvm.edu/cas/psychology/profiles/alexandra-potter-behavior-therapy-and-psychotherapy">Alexi Potter</a>.
  </p>
</div>

<div>
    <h2>Lab News</h2>
    <ul>
      {% for event in site.data.events %}
      <li>
        {% if event.date%}
          <b>{{event.date}} - </b>
        {% endif %}
        {{event.description}}
      </li>
      {% endfor %}
    </ul>
    </div>